.contenedor {
	background-color: red;
	position: absolute;
	width: 500px;
	height: 500px;
}

.hola {
	background-color: green;
	color: black;
	font-size: 30pt;
	position: absolute;
	margin-top: 20px;
	margin-left:20px;

}

.chau {
	background-color: yellow;

	position: relative;
font-size: 40pt;
margin: 20px;
}